{% extends 'sites/base/base.html' %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <p class="mb-0">Your business dashboard template</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Main</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Dashboard</a></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-xxl-4 col-md-4">
                <div class="card">
                    <div class="card-body pb-0">
                        <h4 class="card-title text-uppercase font-weight-normal text-center">Wiadomości od Członków</h4>
                        <div class="col">
                            <div class="row mt-3">
                                <div class="col text-left">
                                    <p>Maniek2341</p>
                                </div>
                                <div class="col text-right">
                                    <p class="font-weight-normal">09/08| 12:27</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3" style='border-bottom:1px solid black; padding: 8px;'>
                                        <p class="card-text">To jest przykladowy post wykonany przez czlonka projektu project hagvar</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-xxl-4 col-md-4">
                <div class="card">
                    <div class="card-body pb-0">
                        <h4 class="card-title text-uppercase font-weight-normal text-center">Wiadomości od Dyrekcji</h4>
                        <div class="col">
                            <div class="row mt-3">
                                <div class="col text-left">
                                    <p>Maniek2341</p>
                                </div>
                                <div class="col text-right">
                                    <p class="font-weight-normal">09/08| 12:27</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3" style='border-bottom:1px solid black; padding: 8px;'>
                                        <p class="card-text">To jest przykladowy post wykonany przez czlonka projektu project hagvar</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-xxl-4 col-md-4">
                <div class="card">
                    <div class="card-body pb-0">
                        <h4 class="card-title text-uppercase font-weight-normal text-center">Wiadomości od Zarządu</h4>
                        <div class="col">
                            <div class="row mt-3">
                                <div class="col text-left">
                                    <p>Maniek2341</p>
                                </div>
                                <div class="col text-right">
                                    <p class="font-weight-normal">09/08| 12:27</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3" style='border-bottom:1px solid black; padding: 8px;'>
                                        <p class="card-text">To jest przykladowy post wykonany przez czlonka projektu project hagvar</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}