{% extends 'sites/base/base.html' %}{% load rest_framework %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Cześć, {{ request.user }}</h4>
                    <p class="mb-1">W tej sekcji mozesz edytować ustawienia użytkownika którego wybrałeś</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Użytkownicy</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Edycja</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Edytuj użytkownika {{ rang.nazwa }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" action="{% url 'rang_edit_view' pk=rang.pk %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="username">{{ rang_form.ranga.label}}
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                {{ rang_form.ranga }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary">Zapisz</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}